<div>
  <nav class="flex m-9 text-sm">
    <div class="w-1/3">
      <img src="assets/img/icon.png" alt="logo" class="w-9" />
    </div>
    <div class="flex w-1/3 justify-between p-2 align-middle">
      <a
        routerLink="/about"
        class="transition ease-in-out delay-200 hover:scale-105 hover:bg-zinc-500 py-1 px-5 rounded-2xl"
        ><p>About Us</p></a
      >
      <a
        routerLink="home"
        class="transition ease-in-out delay-200 hover:scale-105 hover:bg-zinc-500 py-1 px-5 rounded-2xl"
        ><p>Home</p></a
      >
      <a
        routerLink="/plans"
        class="transition ease-in-out delay-200 hover:scale-105 hover:bg-zinc-500 py-1 px-5 rounded-2xl"
        ><p>Services</p></a
      >
    </div>
    <div class="w-1/3 flex justify-end">
      <button
        class="bg-blue-600 py-1 px-8 rounded-2xl shadow"
        routerLink="/about"
      >
        Explore
      </button>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
