<div class="flex-col mx-auto text-center">
  <h1 class="text-3xl font-extrabold my-16 mx-auto">About Us</h1>
  <div class="flex justify-between my-12 mx-20">
    <div class="w-1/4 mx-auto">
      <h1 class="font-extrabold text-xl mb-6">MISSION</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
        delectus et exercitationem reprehenderit numquam nobis aliquid facere,
        nesciunt dignissimos eos. Aut unde iste nemo praesentium assumenda
        quisquam, quas deleniti iure.
      </p>
    </div>
    <div class="w-1/4 mx-auto">
      <h1 class="font-extrabold text-xl mb-6">VISION</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
        delectus et exercitationem reprehenderit numquam nobis aliquid facere,
        nesciunt dignissimos eos. Aut unde iste nemo praesentium assumenda
        quisquam, quas deleniti iure.
      </p>
    </div>
    <div class="w-1/4 mx-auto">
      <h1 class="font-extrabold text-xl mb-6">VALUES</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
        delectus et exercitationem reprehenderit numquam nobis aliquid facere,
        nesciunt dignissimos eos. Aut unde iste nemo praesentium assumenda
        quisquam, quas deleniti iure.
      </p>
    </div>
  </div>
  <div>
    <h1 class="text-2xl font-extrabold my-12 mx-auto">Our Team</h1>
    <div class="w-full flex justify-center mb-16">
      <div
        class="bg-zinc-900 hover:bg-blue-600 border border-zinc-500 rounded-2xl px-1 py-3 m-3 w-1/6 transition ease-in-out delay-300 hover:scale-110"
      >
        <img
          src="assets/img/team/noe.jpeg"
          alt=""
          class="w-4/5 rounded-2xl shadow-lg mb-2 mx-auto"
        />
        <h2 class="font-bold text-xl mt-4">Noe Hernandez</h2>
        <h4 class="font-bold">CEO</h4>
        <p class="text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, illum.
          Deleniti quam laborum
        </p>
        <button class="bg-white text-black m-3 py-1 px-12 rounded-xl shadow">
          More
        </button>
      </div>
      <div
        class="bg-zinc-900 hover:bg-blue-600 border border-zinc-500 rounded-2xl px-1 py-3 m-3 w-1/6 transition ease-in-out delay-300 hover:scale-110"
      >
        <img
          src="assets/img/team/alan.jpeg"
          alt=""
          class="w-4/5 rounded-2xl shadow-lg mb-2 mx-auto"
        />
        <h2 class="font-bold text-xl mt-4">Alan Gonzalez</h2>
        <h4 class="font-bold">CEO</h4>
        <p class="text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, illum.
          Deleniti quam laborum
        </p>
        <button class="bg-white text-black m-3 py-1 px-12 rounded-xl shadow">
          More
        </button>
      </div>
      <div
        class="bg-zinc-900 hover:bg-blue-600 border border-zinc-500 rounded-2xl px-1 py-3 m-3 w-1/6 transition ease-in-out delay-300 hover:scale-110"
      >
        <img
          src="assets/img/team/jahir.jpeg"
          alt=""
          class="w-4/5 rounded-2xl shadow-lg mb-2 mx-auto"
        />
        <h2 class="font-bold text-xl mt-4">Jahir Noriega</h2>
        <h4 class="font-bold">CEO</h4>
        <p class="text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, illum.
          Deleniti quam laborum
        </p>
        <button class="bg-white text-black m-3 py-1 px-12 rounded-xl shadow">
          More
        </button>
      </div>
      <div
        class="bg-zinc-900 hover:bg-blue-600 border border-zinc-500 rounded-2xl px-1 py-3 m-3 w-1/6 transition ease-in-out delay-300 hover:scale-110"
      >
        <img
          src="assets/img/team/cass.jpeg"
          alt=""
          class="w-4/5 rounded-2xl shadow-lg mb-2 mx-auto"
        />
        <h2 class="font-bold text-xl mt-4">Johan Cass</h2>
        <h4 class="font-bold">CEO</h4>
        <p class="text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, illum.
          Deleniti quam laborum
        </p>
        <button class="bg-white text-black m-3 py-1 px-12 rounded-xl shadow">
          More
        </button>
      </div>
      <div
        class="bg-zinc-900 hover:bg-blue-600 border border-zinc-500 rounded-2xl px-1 py-3 m-3 w-1/6 transition ease-in-out delay-300 hover:scale-110"
      >
        <img
          src="assets/img/team/cass.jpeg"
          alt=""
          class="w-4/5 rounded-2xl shadow-lg mb-2 mx-auto"
        />
        <h2 class="font-bold text-xl mt-4">Imanol Silva</h2>
        <h4 class="font-bold">CEO</h4>
        <p class="text-sm">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, illum.
          Deleniti quam laborum
        </p>
        <button class="bg-white text-black m-3 py-1 px-12 rounded-xl shadow">
          More
        </button>
      </div>
    </div>
  </div>
</div>
